body{
  background-image: -o-linear-gradient(45deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -moz-linear-gradient(45deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -webkit-linear-gradient(45deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -ms-linear-gradient(45deg, #1A658D 0%, #6CBFDA 100%);
  background-image: linear-gradient(135deg, #1A658D 0%, #6CBFDA 100%);
  background-attachment: fixed;
  text-align: center;
}

#header{
  margin: 0 auto;
  width: 311px;
  height: 80px;
  background-image: url( '../img/fibonacci_icon.png' );
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

h1, h2, span.action{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: hsla(200,100%,90%,1);
  text-align: left;
  font-size: 2.5em;
  margin-top: 50px;
  padding-left: 90px;
  padding-top: 10px
}
h2{
  font-size: 1.6em;
  font-weight: normal;
  margin-top: -10px
}
span.action{
  padding: 0;
  font-size: 1em;
  margin: 13px;
}
div{
  outline: 1px solid hsla(200,100%,90%,0.2);
  background-color: hsla(200,100%,1%,0.1);
}

#codeExportTextarea, #container{
  width: 100%;
  height: 600px !important;
  position: absolute;
  top: 180px;
}

#codeExportTextarea{
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: hsla(200,100%,1%,0.4);
  padding: 50px;
  font-family: Courier;
  font-size: 16px;
  color: hsla(200,100%,90%,1);
  display: none;
  outline: none;
  overflow-y: scroll;
  text-align: left; 
  white-space: pre-wrap;
}
#codeExportTextarea p{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 15px;
}

#triggerHTMLCode, #triggerCSSCode, #triggerInfo{
  margin: 0 auto;
  margin-top: 675px;
  padding: 0 25px 0 25px;
  margin-bottom: 10px;
  opacity: 0.6
}
#splitControls{
  outline: none;
  background-color: transparent;
}
#splitControls img{
  margin: 15px 5px;
  opacity: 0.7;
  cursor: pointer;
}

#optionsModal{
  box-sizing: border-box;
  width: 150px;
  position: absolute;
  z-index: 99999;
  border: 1px solid hsla(100, 100%, 100%, 0.6);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 10px;
  background-color: hsla(100, 100%, 100%, 0.5);
  margin: 15px
}

#optionsModal img{
  cursor: pointer;
}

::-webkit-input-placeholder { color:hsla(200,100%,90%,1); }
::-moz-placeholder { color:hsla(200,100%,90%,1); } /* firefox 19+ */
:-ms-input-placeholder { color:hsla(200,100%,90%,1); } /* ie */
input:-moz-placeholder { color:hsla(200,100%,90%,1); }

#optionsModal input{
  width: 110px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 2px solid hsla(200,100%,90%,1);
  border-right: 2px solid hsla(200,100%,90%,1);
  padding-right: 5px;
  background: none;
  margin-top: 10px;
  font-family: Avenir;
  color: hsla(200,100%,10%,1);
  font-size: 1em;
  text-align: right;
  outline: none;
}

#optionsModal button{
  float: right;
  margin: 5px;
  font-family: Avenir;
  font-size: 1.05em;
  font-weight: bold;
  color: hsla(200,100%,100%,0.8);
  text-shadow: 0 -1px hsla(200,100%,0%,0.3);
  padding: 5px 15px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0 1px hsla(100,100%,100%,0.2) inset, 0 0 0 1px hsla(200,100%,0%,0.1);
  border-radius: 5px;
  background-image: -o-linear-gradient(0deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -moz-linear-gradient(0deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -webkit-linear-gradient(0deg, #1A658D 0%, #6CBFDA 100%);
  background-image: -ms-linear-gradient(0deg, #1A658D 0%, #6CBFDA 100%);
  background-image: linear-gradient(0deg, #1A658D 0%, #6CBFDA 100%);
}

footer{
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  padding: 15px;
  background-color: hsla(200,100%,90%,0.3);
  outline: 1px solid hsla(200,100%,90%,0.6);
  font-family: Avenir;
  color: hsla(200,100%,100%,0.8);
}

footer a{
  font-weight: bold;
  color: hsla(200,100%,100%,1);
  text-decoration: none;
}